<div class="burger-section js-menu-container" id="mobile-menu">
  <div class="menu-wrapper">
    <a class="header-logo-link" href="./index.html">
      <img
        class="header-logo-img"
        src="../img/logo.png"
        alt="logo-of-company"
      />
      <span class="header-logo-text">thewatchspot</span>
    </a>
    <button class="menu-toggle js-close-menu">
      <svg class="close-burger-svg" width="12" height="12">
        <use href="../img/sprite.svg#icon-close-button"></use>
      </svg>
    </button>
  </div>
  <nav class="burger-nav">
    <ul class="burger-nav-list">
      <li class="burger-nav-item">
        <a href="#about" class="burger-nav-link">ABOUT US</a>
      </li>
      <li class="burger-nav-item">
        <a href="#catalog" class="burger-nav-link">CATALOG</a>
      </li>
      <li class="burger-nav-item">
        <a href="#sale" class="burger-nav-link">SALE</a>
      </li>
    </ul>
  </nav>
</div>
