<section class="burger-section js-burger-menu" id="mobile-menu">
  <nav class="burger-nav">
    <a class="header-logo-link" href="./index.html">
      <svg class="header-logo-img" width="14" height="14">
        <use href="../img/sprite.svg#icon-logo"></use>
      </svg>
      <span class="header-logo-text">thewatchspot</span>
    </a>
    <ul class="burger-nav-list">
      <li class="burger-nav-item">
        <a href="#about" class="burger-nav-link">ABOUT US</a>
      </li>
      <li class="burger-nav-item">
        <a href="#catalog" class="burger-nav-link">CATALOG</a>
      </li>
      <li class="burger-nav-item">
        <a href="#sale" class="burger-nav-link">SALE</a>
      </li>
    </ul>
  </nav>
  <button class="menu-toggle js-close-menu">
    <svg class="close-burger-svg" width="12" height="12">
      <use href="../img/sprite.svg#icon-close-button"></use>
    </svg>
  </button>
</section>
