<section class="section">
    <div class="container">
        <h2 class="min-title">Catalog</h2>
        <ul class="catalog-list">
            <li class="catalog-item">
                <img class="catalog-gallery"
                srcset="../img/catalog-275x274/1@1x.webp 1x, ../img/catalog-275x274/1@2x.webp 2x,"
                 src="../img/catalog-275x274/1@1x.webp" alt="dark-grey watch" width="335">
                <h3 class="catalog-title">Tube Watch S42 Date Steel With Black Case</h3>
                <p class="catalog-price"> &euro;395</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery"
                srcset="../img/catalog-275x274/2@1x.webp 1x, ../img/catalog-275x274/2@2x.webp 2x," 
                src="../img/catalog-275x274/2@1x.webp" alt="silver watch" width="335">
                <h3 class="catalog-title">Avondale Watch Police For Men</h3>
                <p class="catalog-price">&euro;800</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery" 
                srcset="../img/catalog-275x274/3@1x.webp 1x, ../img/catalog-275x274/3@2x.webp 2x,"
                src="../img/catalog-275x274/3@1x.webp" alt="silver-black watch" width="335">
                <h3 class="catalog-title">Diver 300M Co‑Axial Master Chronometer Chronograph</h3>
                <p class="catalog-price">&euro;600</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery"
                srcset="../img/catalog-275x274/4@1x.webp 1x, ../img/catalog-275x274/4@2x.webp 2x," 
                src="../img/catalog-275x274/4@1x.webp" alt="silver watch" width="335">
                <h3 class="catalog-title">Diver 300M Co-Axial Master Chronometer </h3>
                <p class="catalog-price">&euro;14005</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery" 
                srcset="../img/catalog-275x274/5@1x.webp 1x, ../img/catalog-275x274/5@2x.webp 2x,"
                src="../img/catalog-275x274/5@1x.webp" alt="black watch" width="335">
                <h3 class="catalog-title">Taman Watch By Police For Men</h3>
                <p class="catalog-price">&euro;500</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery" 
                srcset="../img/catalog-275x274/6@1x.webp 1x, ../img/catalog-275x274/6@2x.webp 2x,"
                src="../img/catalog-275x274/6@1x.webp" alt="silver-black watch" width="335">
                <h3 class="catalog-title">Malawi Watch Police For Men</h3>
                <p class="catalog-price">&euro;555</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery" 
                srcset="../img/catalog-275x274/7@1x.webp 1x, ../img/catalog-275x274/7@2x.webp 2x,"
                src="../img/catalog-275x274/7@1x.webp" alt="black watch" width="335">
                <h3 class="catalog-title">Diver 300M Co-Axial Master</h3>
                <p class="catalog-price">&euro;1200</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery" 
                srcset="../img/catalog-275x274/8@1x.webp 1x, ../img/catalog-275x274/8@2x.webp 2x,"
                src="../img/catalog-275x274/8@1x.webp" alt="dark-grey watch" width="335">
                <h3 class="catalog-title">Greenlane Watch By Police For Men</h3>
                <p class="catalog-price">&euro;1000</p>
            </li>
        </ul>
        <ul class="catalog-list catalog-list-desc"> 
            <li class="catalog-item">
                <img class="catalog-gallery"
                srcset="../img/catalog-275x274/9@1x.webp 1x, ../img/catalog-275x274/9@2x.webp 2x,"
                src="../img/catalog-275x274/9@1x.webp" alt="" width="335">
                <h3 class="catalog-title">Squardrc 5402 Chrono</h3>
                <p class="catalog-price">&euro;359</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery"
                srcset="../img/catalog-275x274/10@1x.webp 1x, ../img/catalog-275x274/10@2x.webp 2x," 
                src="../img/catalog-275x274/10@1x.webp" alt="" width="335">
                <h3 class="catalog-title">Diver  300M Co‑Axial Master Chronometer Chronograph</h3>
                <p class="catalog-price">&euro;400</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery"
                srcset="../img/catalog-275x274/11@1x.webp 1x, ../img/catalog-275x274/11@2x.webp 2x,"
                src="../img/catalog-275x274/11@1x.webp" alt="" width="335">
                <h3 class="catalog-title">Citizen</h3>
                <p class="catalog-price">&euro;519</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery"
                srcset="../img/catalog-275x274/12@1x.webp 1x, ../img/catalog-275x274/12@2x.webp 2x," 
                src="../img/catalog-275x274/12@1x.webp" alt="" width="335">
                <h3 class="catalog-title">Armani Exchange</h3>
                <p class="catalog-price">&euro;400</p>
            </li>
        </ul>
        <button class="catalog-btn" type="button">Buy now</button>
    </div>
</section>
<div class="catalog-overlay">
    <div class="overlay">
        <h4>Description</h4>
        <p>Richly detailed with an understated design - the Police Men&#39;s Greenlane watch.</p>
        <h4>DETAILS & FEATUREStion</h4>
        <p>Gender: man
            Size: 46x54.5mm
            Case Colour: Steel
            Band Material: Metal
            Case Material: Metal
            Features: Multifunction
            Water Resistant: 5 (ATM)
            Band Colour: Steel</p>
    </div>
</div>
