<section class="section">
    <div class="container">
        <h2 class="min-title">Catalog</h2>
        <ul class="catalog-list">
            <li class="catalog-item">
                <img class="catalog-gallery" src="" alt="dark-grey watch" width="335">
                <h3 class="catalog-title">Tube Watch S42 Date Steel With Black Case</h3>
                <p class="catalog-price"> &euro;395</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery" src="" alt="silver watch" width="335">
                <h3 class="catalog-title">Avondale Watch Police For Men</h3>
                <p class="catalog-price">&euro;800</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery" src="" alt="silver-black watch" width="335">
                <h3 class="catalog-title">Diver 300M Co‑Axial Master Chronometer</h3>
                <p class="catalog-price">&euro;600</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery" src="" alt="silver watch" width="335">
                <h3 class="catalog-title">Diver 300M Co-Axial Master Chronometer </h3>
                <p class="catalog-price">&euro;14005</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery" src="" alt="black watch" width="335">
                <h3 class="catalog-title">Taman Watch By Police For Men</h3>
                <p class="catalog-price">&euro;500</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery" src="" alt="silver-black watch" width="335">
                <h3 class="catalog-title">Malawi Watch Police For Men</h3>
                <p class="catalog-price">&euro;555</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery" src="" alt="black watch" width="335">
                <h3 class="catalog-title">Diver 300M Co-Axial Master</h3>
                <p class="catalog-price">&euro;1200</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery" src="" alt="dark-grey watch" width="335">
                <h3 class="catalog-title">Greenlane Watch By Police For Men</h3>
                <p class="catalog-price">&euro;1000</p>
            </li>
        </ul>
        <ul class="catalog-list-desc"> 
            <li class="catalog-item">
                <img class="catalog-gallery" src="" alt="" width="335">
                <h3 class="catalog-title">Squardrc 5402 Chrono</h3>
                <p class="catalog-price">&euro;359</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery" src="" alt="" width="335">
                <h3 class="catalog-title">Diver  300M Co‑Axial Master Chronometer Chronograph</h3>
                <p class="catalog-price">&euro;400</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery" src="" alt="" width="335">
                <h3 class="catalog-title">Citizen</h3>
                <p class="catalog-price">&euro;519</p>
            </li>
            <li class="catalog-item">
                <img class="catalog-gallery" src="" alt="" width="335">
                <h3 class="catalog-title">Armani Exchange</h3>
                <p class="catalog-price">&euro;400</p>
            </li>
        </ul>
        <button type="submit">Buy now</button>
    </div>
</section>
