<section class="section" id="catalog">
    <div class="container">
        <h2 class="min-title"
        data-aos="fade-right"
        data-aos-duration="600"
        data-aos-delay="100"
        >Catalog</h2>
        <ul class="catalog-list">
            <li class="catalog-item">
                <div class="catalog-overlay">

               <picture>
                <source srcset="./img/catalog-275x274/1@1x.webp 1x, ./img/catalog-275x274/1@2x.webp 2x"
                type="image/webp">
                <source srcset="./img/catalog-275x274/1@1x.jpg 1x, ./img/catalog-275x274/1@2x.jpg 2x"
                type="image/jpg">
                <img class="catalog-gallery" data-aos="flip-left" data-aos-duration="1000"
                src="./img/catalog-275x274/1@1x.jpg" alt="dark-grey watch" width="335" height="360">  
               </picture>
                 <div class="overlay">
                 <p class="title-overlay">Description</p>
                 <p class="content-overlay">Richly detailed with an understated design - the Police Men&#39;s Greenlane watch.</p>
                 <p class="title-overlay">DETAILS & FEATUREStion</p>
                 <ul class="content-overlay content-overlay-list">
                    <li> Gender: man</li>
                    <li>Size: 46x54.5mm</li>
                    <li>Case Colour: Steel</li>
                    <li>Band Material: Metal</li>
                    <li>Case Material: Metal</li>
                    <li>Features: Multifunction</li>
                    <li>Water Resistant: 5 (ATM)</li>
                    <li>Band Colour: Steel</li>
                 </ul>
                 <svg class="catalog-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-heart"></use>
                 </svg>
                    </div>
                </div>
                <div>
                 <h3 class="catalog-title catalog-title-name">Tube Watch S42 Date Steel With Black Case</h3>
                <p class="catalog-price"> &euro;395</p>
            </div>
            </li>
            <li class="catalog-item"><div class="catalog-overlay">
                <picture>
                    <source srcset="./img/catalog-275x274/2@1x.webp 1x, ./img/catalog-275x274/2@2x.webp 2x"
                    type="image/webp">
                    <source srcset="./img/catalog-275x274/2@1x.jpg 1x, ./img/catalog-275x274/2@2x.jpg 2x"
                    type="image/jpg">
                    <img class="catalog-gallery" data-aos="flip-left" data-aos-duration="1500"
                    src="./img/catalog-275x274/2@1x.jpg" alt="dark-grey watch" width="335" height="360">  
                   </picture>
                <div class="overlay">
                    <p class="title-overlay">Description</p>
                    <p class="content-overlay">Richly detailed with an understated design - the Police Men&#39;s Greenlane watch.</p>
                    <p class="title-overlay">DETAILS & FEATUREStion</p>
                    <ul class="content-overlay content-overlay-list">
                       <li> Gender: man</li>
                       <li>Size: 46x54.5mm</li>
                       <li>Case Colour: Steel</li>
                       <li>Band Material: Metal</li>
                       <li>Case Material: Metal</li>
                       <li>Features: Multifunction</li>
                       <li>Water Resistant: 5 (ATM)</li>
                       <li>Band Colour: Steel</li>
                    </ul>
                    <svg class="catalog-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-heart"></use>
                     </svg>
                       </div>
                   </div>
                   <div>
                    <h3 class="catalog-title">Avondale Watch Police For Men</h3>
                <p class="catalog-price">&euro;800</p>
                   </div>
            </li>
            <li class="catalog-item"><div class="catalog-overlay">
                <picture>
                    <source srcset="./img/catalog-275x274/3@1x.webp 1x, ./img/catalog-275x274/3@2x.webp 2x"
                    type="image/webp">
                    <source srcset="./img/catalog-275x274/3@1x.jpg 1x, ./img/catalog-275x274/3@2x.jpg 2x"
                    type="image/jpg">
                    <img class="catalog-gallery" data-aos="flip-left" data-aos-duration="2000"
                    src="./img/catalog-275x274/3@1x.jpg" alt="dark-grey watch" width="335" height="360">  
                   </picture>
                <div class="overlay">
                    <p class="title-overlay">Description</p>
                    <p class="content-overlay">Richly detailed with an understated design - the Police Men&#39;s Greenlane watch.</p>
                    <p class="title-overlay">DETAILS & FEATUREStion</p>
                    <ul class="content-overlay content-overlay-list">
                       <li> Gender: man</li>
                       <li>Size: 46x54.5mm</li>
                       <li>Case Colour: Steel</li>
                       <li>Band Material: Metal</li>
                       <li>Case Material: Metal</li>
                       <li>Features: Multifunction</li>
                       <li>Water Resistant: 5 (ATM)</li>
                       <li>Band Colour: Steel</li>
                    </ul>
                    <svg class="catalog-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-heart"></use>
                     </svg>
                       </div>
                   </div>
                   <div><h3 class="catalog-title catalog-title-name">Diver 300M Co‑Axial Master Chronometer Chronograph</h3>
                    <p class="catalog-price">&euro;600</p>
                </div>
            </li>
            <li class="catalog-item"><div class="catalog-overlay">
                <picture>
                    <source srcset="./img/catalog-275x274/4@1x.webp 1x, ./img/catalog-275x274/4@2x.webp 2x"
                    type="image/webp">
                    <source srcset="./img/catalog-275x274/4@1x.jpg 1x, ./img/catalog-275x274/4@2x.jpg 2x"
                    type="image/jpg">
                    <img class="catalog-gallery" data-aos="flip-left" data-aos-duration="2500"
                    src="./img/catalog-275x274/4@1x.jpg" alt="dark-grey watch" width="335" height="360">  
                   </picture>
                <div class="overlay">
                    <p class="title-overlay">Description</p>
                    <p class="content-overlay">Richly detailed with an understated design - the Police Men&#39;s Greenlane watch.</p>
                    <p class="title-overlay">DETAILS & FEATUREStion</p>
                    <ul class="content-overlay content-overlay-list">
                       <li> Gender: man</li>
                       <li>Size: 46x54.5mm</li>
                       <li>Case Colour: Steel</li>
                       <li>Band Material: Metal</li>
                       <li>Case Material: Metal</li>
                       <li>Features: Multifunction</li>
                       <li>Water Resistant: 5 (ATM)</li>
                       <li>Band Colour: Steel</li>
                    </ul>
                    <svg class="catalog-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-heart"></use>
                     </svg>
                       </div>
                   </div>
                   <div>
                <h3 class="catalog-title">Diver 300M Co-Axial Master Chronometer </h3>
                <p class="catalog-price">&euro;1400</p>
            </div>
            </li>
            <li class="catalog-item"><div class="catalog-overlay">
                <picture>
                    <source srcset="./img/catalog-275x274/5@1x.webp 1x, ./img/catalog-275x274/5@2x.webp 2x"
                    type="image/webp">
                    <source srcset="./img/catalog-275x274/5@1x.jpg 1x, ./img/catalog-275x274/5@2x.jpg 2x"
                    type="image/jpg">
                    <img class="catalog-gallery" data-aos="flip-left" data-aos-duration="1000"
                    src="./img/catalog-275x274/5@1x.jpg" alt="dark-grey watch" width="335" height="360">  
                   </picture>
                <div class="overlay overlay-wrapper">
                    <p class="title-overlay">Description</p>
                    <p class="content-overlay">Richly detailed with an understated design - the Police Men&#39;s Greenlane watch.</p>
                    <p class="title-overlay">DETAILS & FEATUREStion</p>
                    <ul class="content-overlay content-overlay-list">
                       <li> Gender: man</li>
                       <li>Size: 46x54.5mm</li>
                       <li>Case Colour: Steel</li>
                       <li>Band Material: Metal</li>
                       <li>Case Material: Metal</li>
                       <li>Features: Multifunction</li>
                       <li>Water Resistant: 5 (ATM)</li>
                       <li>Band Colour: Steel</li>
                    </ul>
                    <svg class="catalog-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-heart"></use>
                     </svg>
                       </div>
                   </div>
                   <div><h3 class="catalog-title">Taman Watch By Police For Men</h3>
                    <p class="catalog-price">&euro;500</p>
                </div>
            </li>
            <li class="catalog-item"><div class="catalog-overlay">
                <picture>
                    <source srcset="./img/catalog-275x274/6@1x.webp 1x, ./img/catalog-275x274/6@2x.webp 2x"
                    type="image/webp">
                    <source srcset="./img/catalog-275x274/6@1x.jpg 1x, ./img/catalog-275x274/6@2x.jpg 2x"
                    type="image/jpg">
                    <img class="catalog-gallery" data-aos="flip-left" data-aos-duration="1500"
                    src="./img/catalog-275x274/6@1x.jpg" alt="dark-grey watch" width="335" height="360">  
                   </picture>
                <div class="overlay">
                    <p class="title-overlay">Description</p>
                    <p class="content-overlay">Richly detailed with an understated design - the Police Men&#39;s Greenlane watch.</p>
                    <p class="title-overlay">DETAILS & FEATUREStion</p>
                    <ul class="content-overlay content-overlay-list">
                       <li> Gender: man</li>
                       <li>Size: 46x54.5mm</li>
                       <li>Case Colour: Steel</li>
                       <li>Band Material: Metal</li>
                       <li>Case Material: Metal</li>
                       <li>Features: Multifunction</li>
                       <li>Water Resistant: 5 (ATM)</li>
                       <li>Band Colour: Steel</li>
                    </ul>
                    <svg class="catalog-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-heart"></use>
                     </svg>
                       </div>
                   </div>
                   <div>
                    <h3 class="catalog-title">Malawi Watch Police For Men</h3>
                    <p class="catalog-price">&euro;555</p>
                </div>
            </li>
            <li class="catalog-item">
                <div class="catalog-overlay">
                <picture>
                <source srcset="./img/catalog-275x274/7@1x.webp 1x, ./img/catalog-275x274/7@2x.webp 2x"
                type="image/webp">
                <source srcset="./img/catalog-275x274/7@1x.jpg 1x, ./img/catalog-275x274/7@2x.jpg 2x"
                type="image/jpg">
                <img class="catalog-gallery" data-aos="flip-left" data-aos-duration="2000"
                src="./img/catalog-275x274/7@1x.jpg" alt="dark-grey watch" width="335" height="360">  
               </picture>
                <div class="overlay">
                    <p class="title-overlay">Description</p>
                    <p class="content-overlay">Richly detailed with an understated design - the Police Men&#39;s Greenlane watch.</p>
                    <p class="title-overlay">DETAILS & FEATUREStion</p>
                    <ul class="content-overlay content-overlay-list">
                       <li> Gender: man</li>
                       <li>Size: 46x54.5mm</li>
                       <li>Case Colour: Steel</li>
                       <li>Band Material: Metal</li>
                       <li>Case Material: Metal</li>
                       <li>Features: Multifunction</li>
                       <li>Water Resistant: 5 (ATM)</li>
                       <li>Band Colour: Steel</li>
                    </ul>
                    <svg class="catalog-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-heart"></use>
                     </svg>
                       </div>
                   </div>
                <h3 class="catalog-title">Diver 300M Co-Axial Master Chronometer</h3>
                <p class="catalog-price">&euro;1200</p>
            </li>
            <li class="catalog-item"><div class="catalog-overlay">
                <picture>
                    <source srcset="./img/catalog-275x274/8@1x.webp 1x, ./img/catalog-275x274/8@2x.webp 2x"
                    type="image/webp">
                    <source srcset="./img/catalog-275x274/8@1x.jpg 1x, ./img/catalog-275x274/8@2x.jpg 2x"
                    type="image/jpg">
                    <img class="catalog-gallery" data-aos="flip-left" data-aos-duration="2500"
                    src="./img/catalog-275x274/8@1x.jpg" alt="dark-grey watch" width="335" height="360">  
                   </picture>
                <div class="overlay">
                    <p class="title-overlay">Description</p>
                    <p class="content-overlay">Richly detailed with an understated design - the Police Men&#39;s Greenlane watch.</p>
                    <p class="title-overlay">DETAILS & FEATUREStion</p>
                    <ul class="content-overlay content-overlay-list">
                       <li> Gender: man</li>
                       <li>Size: 46x54.5mm</li>
                       <li>Case Colour: Steel</li>
                       <li>Band Material: Metal</li>
                       <li>Case Material: Metal</li>
                       <li>Features: Multifunction</li>
                       <li>Water Resistant: 5 (ATM)</li>
                       <li>Band Colour: Steel</li>
                    </ul>
                    <svg class="catalog-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-heart"></use>
                     </svg>
                       </div>
                   </div>
                <h3 class="catalog-title">Greenlane Watch By Police For Men</h3>
                <p class="catalog-price">&euro;1000</p>
            </li>
        </ul>
        <ul class="catalog-list catalog-list-desc"> 
            <li class="catalog-item"><div class="catalog-overlay">
                <picture>
                    <source srcset="./img/catalog-275x274/9@1x.webp 1x, ./img/catalog-275x274/9@2x.webp 2x"
                    type="image/webp">
                    <source srcset="./img/catalog-275x274/9@1x.jpg 1x, ./img/catalog-275x274/9@2x.jpg 2x"
                    type="image/jpg">
                    <img class="catalog-gallery" data-aos="flip-left" data-aos-duration="1000"
                    src="./img/catalog-275x274/9@1x.jpg" alt="dark-grey watch" width="335" height="360">  
                   </picture>
                <div class="overlay">
                    <p class="title-overlay">Description</p>
                    <p class="content-overlay">Richly detailed with an understated design - the Police Men&#39;s Greenlane watch.</p>
                    <p class="title-overlay">DETAILS & FEATUREStion</p>
                    <ul class="content-overlay content-overlay-list">
                       <li> Gender: man</li>
                       <li>Size: 46x54.5mm</li>
                       <li>Case Colour: Steel</li>
                       <li>Band Material: Metal</li>
                       <li>Case Material: Metal</li>
                       <li>Features: Multifunction</li>
                       <li>Water Resistant: 5 (ATM)</li>
                       <li>Band Colour: Steel</li>
                    </ul>
                    <svg class="catalog-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-heart"></use>
                     </svg>
                       </div>
                   </div>
                <h3 class="catalog-title">Squardrc 5402 Chrono</h3>
                <p class="catalog-price">&euro;359</p>
            </li>
            <li class="catalog-item"><div class="catalog-overlay">
                <picture>
                    <source srcset="./img/catalog-275x274/10@1x.webp 1x, ./img/catalog-275x274/10@2x.webp 2x"
                    type="image/webp">
                    <source srcset="./img/catalog-275x274/10@1x.jpg 1x, ./img/catalog-275x274/10@2x.jpg 2x"
                    type="image/jpg">
                    <img class="catalog-gallery" data-aos="flip-left" data-aos-duration="1500"
                    src="./img/catalog-275x274/10@1x.jpg" alt="dark-grey watch" width="335" height="360">  
                   </picture>
                <div class="overlay">
                    <p class="title-overlay">Description</p>
                    <p class="content-overlay">Richly detailed with an understated design - the Police Men&#39;s Greenlane watch.</p>
                    <p class="title-overlay">DETAILS & FEATUREStion</p>
                    <ul class="content-overlay content-overlay-list">
                       <li> Gender: man</li>
                       <li>Size: 46x54.5mm</li>
                       <li>Case Colour: Steel</li>
                       <li>Band Material: Metal</li>
                       <li>Case Material: Metal</li>
                       <li>Features: Multifunction</li>
                       <li>Water Resistant: 5 (ATM)</li>
                       <li>Band Colour: Steel</li>
                    </ul>
                    <svg class="catalog-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-heart"></use>
                     </svg>
                       </div>
                   </div>
                <h3 class="catalog-title catalog-title-name">Diver  300M Co‑Axial Master Chronometer Chronograph</h3>
                <p class="catalog-price">&euro;400</p>
            </li>
            <li class="catalog-item"><div class="catalog-overlay">
                <picture>
                    <source srcset="./img/catalog-275x274/11@1x.webp 1x, ./img/catalog-275x274/11@2x.webp 2x"
                    type="image/webp">
                    <source srcset="./img/catalog-275x274/11@1x.jpg 1x, ./img/catalog-275x274/11@2x.jpg 2x"
                    type="image/jpg">
                    <img class="catalog-gallery" data-aos="flip-left" data-aos-duration="2000"
                    src="./img/catalog-275x274/11@1x.jpg" alt="dark-grey watch" width="335" height="360">  
                   </picture>
                <div class="overlay overlay-wrapper">
                    <p class="title-overlay">Description</p>
                    <p class="content-overlay">Richly detailed with an understated design - the Police Men&#39;s Greenlane watch.</p>
                    <p class="title-overlay">DETAILS & FEATUREStion</p>
                    <ul class="content-overlay content-overlay-list">
                       <li> Gender: man</li>
                       <li>Size: 46x54.5mm</li>
                       <li>Case Colour: Steel</li>
                       <li>Band Material: Metal</li>
                       <li>Case Material: Metal</li>
                       <li>Features: Multifunction</li>
                       <li>Water Resistant: 5 (ATM)</li>
                       <li>Band Colour: Steel</li>
                    </ul>
                    <svg class="catalog-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-heart"></use>
                     </svg>
                       </div>
                   </div>
                <h3 class="catalog-title">Citizen</h3>
                <p class="catalog-price">&euro;519</p>
            </li>
            <li class="catalog-item">
                <div class="catalog-overlay">
                <picture>
                    <source srcset="./img/catalog-275x274/12@1x.webp 1x, ./img/catalog-275x274/12@2x.webp 2x"
                    type="image/webp">
                    <source srcset="./img/catalog-275x274/12@1x.jpg 1x, ./img/catalog-275x274/12@2x.jpg 2x"
                    type="image/jpg">
                    <img class="catalog-gallery" data-aos="flip-left" data-aos-duration="2500"
                    src="./img/catalog-275x274/12@1x.jpg" alt="dark-grey watch" width="335" height="360">  
                   </picture>
                <div class="overlay">
                    <p class="title-overlay">Description</p>
                    <p class="content-overlay">Richly detailed with an understated design - the Police Men&#39;s Greenlane watch.</p>
                    <p class="title-overlay">DETAILS & FEATUREStion</p>
                    <ul class="content-overlay content-overlay-list">
                       <li> Gender: man</li>
                       <li>Size: 46x54.5mm</li>
                       <li>Case Colour: Steel</li>
                       <li>Band Material: Metal</li>
                       <li>Case Material: Metal</li>
                       <li>Features: Multifunction</li>
                       <li>Water Resistant: 5 (ATM)</li>
                       <li>Band Colour: Steel</li>
                    </ul>
                    <svg class="catalog-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-heart"></use>
                     </svg>
                       </div>
                   </div>
                <h3 class="catalog-title">Armani Exchange</h3>
                <p class="catalog-price">&euro;400</p>
            </li>
        </ul>
        <button class="catalog-btn btn" type="button" data-modal-open>Buy now</button>
    </div>
</section>
