<footer class="footer">
    <div class="footer-container container">
        <div class="footer-wrapper">
            <div class="footer-contact">
                <a class="footer-logo-link" href="./index.html">
                    <img class="footer-logo-icon logo-icon" src="./img/logo.png" alt="Logo of company">
                </a>
                <address class="footer-address">
                    <ul class="footer-address-list">
                        <li class="footer-address-item">
                            <a class="footer-address-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
                        </li>
                        <li class="footer-address-item">
                            <a class="footer-address-link" href="https://goo.gl/maps/tb6W18XP9ryuWDdR8" target="_blank"
                                rel="noopener noreferrer">1678 S. Pioneer Road Salt Lake City <br> UT 84104</a>
                        </li>
                    </ul>
                </address>
            </div>
            <nav class="footer-nav">
                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <a class="nav-link footer-tel" href="#about">About us</a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="nav-link" href="#catalog">Catalog</a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="nav-link" href="#sale">Sale</a>
                    </li>
                </ul>
            </nav>
            <ul class="footer-socials-list">
                <li class="footer-socials-item">
                    <a class="footer-socials-link" aria-label="Facebook" href="https://www.facebook.com/" target="_blank"
                        rel="noopener noreferrer">
                        <svg class="footer-social-icon" width="24" height="24">
                            <use href="../img/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-socials-item">
                    <a class="footer-socials-link" aria-label="Instagram" href="https://www.instagram.com/" target="_blank"
                        rel="noopener noreferrer">
                        <svg class="footer-social-icon" width="24" height="24">
                            <use href="../img/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-socials-item">
                    <a class="footer-socials-link" aria-label="Youtube" href="https://www.youtube.com/" target="_blank"
                        rel="noopener noreferrer">
                        <svg class="footer-social-icon" width="24" height="24">
                            <use href="../img/sprite.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-license">
            <p class="footer-license-text">&copy;2022 The Watch Spot. All rights reserved.</p>
            <div class="footer-license-sub">
                <a href="#" class="footer-address-link">
                    <p class="footer-license-text">Privacy Policy</p>
                </a>
                <a href="#" class="footer-address-link">
                <p class="footer-license-text">Terms of Service</p>
                </a>
            </div>
        </div>
    </div>
</footer>