<header class="header-section header" data-header>
  <div class="header-container container">
    <nav class="header-nav">
      <a
        class="header-logo-link animate__animated animate__slideInDown"
        href="./index.html"
      >
      <picture>
        <source srcset="./img/logo.webp" type="image/webp" />
        <source srcset="./img/logo.png" type="image/png" />
        <img class="header-logo-img logo-icon" src="./img/logo.webp" alt="Logo of company">
      </picture> 
        <span class="header-logo-text">thewatchspot</span>
      </a>

      <ul class="header-nav-list">
        <li
          class="header-nav-item animate__animated animate__slideInDown animate__delay-0.5s"
        >
          <a class="header-nav-link nav-link" href="#about">ABOUT US</a>
        </li>
        <li
          class="header-nav-item animate__animated animate__slideInDown animate__delay-1.0s"
        >
          <a class="header-nav-link nav-link" href="#catalog">CATALOG</a>
        </li>
        <li
          class="header-nav-item animate__animated animate__slideInDown animate__delay-1.5s"
        >
          <a class="header-nav-link nav-link" href="#sale">SALE</a>
        </li>
      </ul>
    </nav>
    <button
      type="button"
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-toggle-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>

    <!-- <button class="hamburger menu-toggle" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button> -->

    <div class="header-link">
      <a class="header-contact-link" href="tel:+380684439426"
        >+380 (68) 443-94-26</a
      >
    </div>
  </div>
</header>
