<section class="hero section">
  <div class="container">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>
    <div class="mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="" alt="" width="266" height="200" />
        </div>
        <div class="swiper-slide">
          <img src="" alt="" width="266" height="200" />
        </div>
        <div class="swiper-slide">
          <img src="" alt="" width="266" height="200" />
        </div>
        <div class="swiper-slide">
          <img src="" alt="" width="266" height="200" />
        </div>
        <div class="swiper-slide">
          <img src="" alt="" width="266" height="200" />
        </div>
      </div>
    </div>
    <div class="swiper-buttons">
      <button class="button-prev">
        <svg class="button-prev-icon" width="18" height="18">
          <use href=""></use>
        </svg>
      </button>
      <button class="button-next">
        <svg class="button-next-icon" width="18" height="18">
          <use href=""></use>
        </svg>
      </button>
      <p class="swiper-numbers"><span class="swiper-number">01</span>05</p>
    </div>

    <p class="hero-descr">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <img src="" alt="" width="335" height="410" />
  </div>
</section>
