<section class="hero section">
  <div class="hero-container container">
    <h1 class="text-focus-in hero-title">
      Welcome to our collection of premium watches
    </h1>
    <div class="swiper-lay">
      <div class="swiper mySwiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/slider/tablet-desk-348x233/1@1x.webp 1x,
                  ./img/slider/tablet-desk-348x233/1@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/slider/tablet-desk-348x233/1@1x.jpg 1x,
                  ./img/slider/tablet-desk-348x233/1@2x.jpg 2x
                "
                type="image/jpg"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/slider/mobile-226x190/1@1x.webp 1x,
                  ./img/slider/mobile-226x190/1@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/slider/mobile-226x190/1@1x.jpg 1x,
                  ./img/slider/mobile-226x190/1@2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./img/slider/mobile-226x190/1@1x.webp"
                alt="darkgreen gray watch"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/slider/tablet-desk-348x233/2@1x.webp 1x,
                  ./img/slider/tablet-desk-348x233/2@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/slider/tablet-desk-348x233/2@1x.jpg 1x,
                  ./img/slider/tablet-desk-348x233/2@2x.jpg 2x
                "
                type="image/jpg"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/slider/mobile-226x190/2@1x.webp 1x,
                  ./img/slider/mobile-226x190/2@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/slider/mobile-226x190/2@1x.jpg 1x,
                  ./img/slider/mobile-226x190/2@2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./img/slider/mobile-226x190/2@1x.webp"
                alt="white watch with a black strap"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/slider/tablet-desk-348x233/3@1x.webp 1x,
                  ./img/slider/tablet-desk-348x233/3@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/slider/tablet-desk-348x233/3@1x.jpg 1x,
                  ./img/slider/tablet-desk-348x233/3@2x.jpg 2x
                "
                type="image/jpg"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/slider/mobile-226x190/3@1x.webp 1x,
                  ./img/slider/mobile-226x190/3@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/slider/mobile-226x190/3@1x.jpg 1x,
                  ./img/slider/mobile-226x190/3@2x.jpg 2x
                "
                type="image/jpg"
              />
              <img
                src="./img/slider/mobile-226x190/3@1x.webp"
                alt="gray watch with a black screen"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/slider/tablet-desk-348x233/4@1x.webp 1x,
                  ./img/slider/tablet-desk-348x233/4@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/slider/tablet-desk-348x233/4@1x.jpg 1x,
                  ./img/slider/tablet-desk-348x233/4@2x.jpg 2x
                "
                type="image/jpg"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/slider/mobile-226x190/4@1x.webp 1x,
                  ./img/slider/mobile-226x190/4@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/slider/mobile-226x190/4@1x.jpg 1x,
                  ./img/slider/mobile-226x190/4@2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./img/slider/mobile-226x190/4@1x.webp"
                alt="gray-black watch with a black strap"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/slider/tablet-desk-348x233/5@1x.webp 1x,
                  ./img/slider/tablet-desk-348x233/5@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/slider/tablet-desk-348x233/5@1x.jpg 1x,
                  ./img/slider/tablet-desk-348x233/5@2x.jpg 2x
                "
                type="image/jpg"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/slider/mobile-226x190/5@1x.webp 1x,
                  ./img/slider/mobile-226x190/5@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/slider/mobile-226x190/5@1x.jpg 1x,
                  ./img/slider/mobile-226x190/5@2x.jpg 2x
                "
                type="image/jpg"
              />

              <img
                src="./img/slider/mobile-226x190/5@1x.webp"
                alt="gray watch with a dark-blue screen"
              />
            </picture>
          </li>
        </ul>
        <div class="swiper-buttons">
          <ul class="swiper-btn-list">
            <li class="swiper-btn-item">
              <button class="button-prev" type="button">
                <svg class="button-prev-icon">
                  <use href="./img/sprite.svg#icon-left-button"></use>
                </svg>
              </button>
            </li>
            <li class="swiper-btn-item">
              <button class="button-next" type="button">
                <svg class="button-next-icon">
                  <use href="./img/sprite.svg#icon-right-button"></use>
                </svg>
              </button>
            </li>
          </ul>
          <div class="swiper-numbers swiper-pagination"></div>
        </div>
      </div>
    </div>
    <p class="hero-descr"
    data-aos="fade-left"
    data-aos-duration="500"
    >
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/hero/desk-bg-676x394@1x.webp 1x,
          ./img/hero/desk-bg-676x394@2x.webp 2x
        "
        type="image/webp"
      />

      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/hero/desk-bg-676x394@1x.jpg 1x,
          ./img/hero/desk-bg-676x394@2x.jpg 2x
        "
        type="image/jpg"
      />

      <source
        media="(min-width: 768px)"
        srcset="
          ./img/hero/tab-bg-704x410@1x.webp 1x,
          ./img/hero/tab-bg-704x410@2x.webp 2x
        "
        type="image/webp"
      />

      <source
        media="(min-width: 768px)"
        srcset="
          ./img/hero/tab-bg-704x410@1x.jpg 1x,
          ./img/hero/tab-bg-704x410@2x.jpg 2x
        "
        type="image/jpg"
      />

      <source
        media="(max-width: 767px)"
        srcset="
          ./img/hero/mob-bg-335x410@1x.webp 1x,
          ./img/hero/mob-bg-335x410@2x.webp 2x
        "
        type="image/webp"
      />

      <source
        media="(max-width: 767px)"
        srcset="
          ./img/hero/mob-bg-335x410@1x.jpg 1x,
          ./img/hero/mob-bg-335x410@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        src="./img/hero/mob-bg-335x410@1x.webp"
        alt="man's hand with a watch"
      />
    </picture>
  </div>
</section>
