<div class="backdrop is-hidden" data-modal>
  <div class="modal container" >
    <button class="modal-button-close" data-modal-close>
      <svg class="modal-close-btn" width="12px" height="12px">
        <use href="./img/sprite.svg#icon-close-button"></use>
      </svg>
    </button>

    <div class="modal-wrappers-img">
      <img
        srcset="./img/modal/1@1x.webp 1x, ./img/modal/1@2x.webp 2x"
        class="modal-img"
        src="./img/modal/1@1x.webp"
        alt="Watch"
        width="276"
        height="325"
      />
      <h3 class="modal-text">Tube Watch S42 Date Steel With Black Case</h3>
      <p class="modal-price">&#8364;395</p>
    </div>
    <div class="modal-form-wrapper">
      <form class="modal-form" autocomplete="off">
        <label class="modal-form-label" for="product-name">Full name </label>
        <input
          class="modal-form-input"
          type="text"
          id="product-name"
          placeholder="Enter your full name"
        />
        <!-- pattern="^[a-zA-Z]+\s[a-zA-Z]+$" -->
        <label class="modal-form-label" for="user-email">Email </label>
        <input
          class="modal-form-input"
          type="email"
          id="user-email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          placeholder="Enter your email"
        />

        <label class="modal-form-label" for="user-card">Card number </label>
        <input
          class="modal-form-input"
          type="text"
          id="user-card"
          pattern="^(?=.*\d).*$"
          placeholder="Enter card"
        />

        <label class="modal-form-label" for="comments">Comments</label>
        <textarea
          class="modal-form-textarea"
          name="comment"
          id="comments"
          rows="5"
          placeholder="Enter your text"
        ></textarea>

        <button class="modal-button-submit" type="submit">Submit</button>
        <span class="modal-text-link">
          By clicking on “Submit” button, you agree to our
          <a class="modal-link" target="_blank" rel="noopener noreferer" href=""
            >Privacy Policy</a
          >,and allow Promodo to use this information for marketing purposes.
        </span>
      </form>
    </div>
  </div>
</div>
