<section class="modal-section">
  <button class="modal-button-open">
    <svg class="modal-button-svg">
      <use href=""></use>
    </svg>
  </button>
  <div class="modal-container">
    <div class="modal-wrappers-img">
      <img class="modal-img" src="" alt="Watch" width="276" />
      <p class="modal-text">Tube Watch S42 Date Steel With Black Case</p>
      <p class="modal-text">&#8364;395</p>
    </div>
    <form class="modal-form" autocomplete="on" novalidate>
      <label class="modal-form-label" for="product-name"
        >Full name<input
          type="text"
          id="product-name"
          placeholder="Enter your full name"
        />
      </label>

      <label class="modal-form-label" for="user-email"
        >Email<input
          type="text"
          id="user-email"
          placeholder="Enter your email"
        />
      </label>

      <label class="modal-form-label" for="user-card"
        >Card number<input
          type="text"
          id="user-card"
          placeholder="Enter card"
        />
      </label>

      <label class="modal-form-lable" for="comments"
        >Comments
        <textarea
          class="modal-textarea"
          name="comment"
          id="comments"
          rows="5"
          placeholder="Text input"
        >
        </textarea>
      </label>
      <button class="modal-button-open" type="submit">Submit</button>
      <span class="modal-text-link">
        By clicking on “Submit” button, you agree to our
        <a class="modal-link" href="">Privacy Policy</a> ,and allow Promodo to
        use this information for marketing purposes.
      </span>
    </form>
  </div>
</section>
