<section class="promo-section section">
    <div class="promo-container container">
        <p class="promo-under-title">
            New watches
        </p>
        <h2 class="min-title promo-title">
            Green And Bronze—The Match Made In Heaven
        </h2>
        <ul class="promo-list">
            <li class="promo-item">
                <!-- <img class="promo-img" 
                srcset="../img/promo-section/2-mob-335x260@1x.webp 335w, 
                        ../img/promo-section/2-mob-335x260@2x.webp 670w,
                        ../img/promo-section/2-tab-342x260@1x.webp 342w,
                        ../img/promo-section/2-tab-342-260@2x.webp 684w,
                        ../img/promo-section/2-desk-576x422@1x.webp 576w,
                        ../img/promo-section/2-desk-576x422@2x.webp 1152w
                        "
                sizes="(min-width: 1280px) 576px, (min-width: 768px) 342px, (min-width: 375px) 335px, 100vw"
                src="../img/promo-section/2-mob-335x260@1x.webp" 
                alt="Watch in a hand" > -->
                <picture>
                    <source media="(min-width: 1280px)" 
                        srcset="../img/promo-section/2-desk-576x422@1x.webp 1x, ../img/promo-section/2-desk-576x422@2x.webp 2x"
                        type="image/webp" />
                    <source media="(min-width: 768px)" srcset="../img/promo-section/2-tab-342x260@1x.webp 1x, ../img/promo-section/2-tab-342x260@2x.webp 2x"
                        type="image/webp" />
                    <source media="(max-width: 767px)" srcset="../img/promo-section/2-mob-335x260@1x.webp 1x, ../img/promo-section/2-mob-335x260@2x.webp 2x"
                        type="image/webp" />
                    <img class="promo-img" 
                        src="../img/promo-section/2-mob-335x260@1x.webp" 
                        alt="Watch in a hand" 
                        loading="lazy" />
                </picture>
            </li>
            <li class="promo-item">
                <img class="promo-img" 
                srcset="../img/promo-section/1-mob-335x260@1x.webp 335w, 
                        ../img/promo-section/1-mob-335x260@2x.webp 670w,
                        ../img/promo-section/1-tab-342x260@1x.webp 342w,
                        ../img/promo-section/1-tab-342x260@2x.webp 684w,
                        ../img/promo-section/1-desk-576x422@1x.webp 576w,
                        ../img/promo-section/1-desk-576x422@2x.webp 1152w
                        "
                sizes="(min-width: 1280px) 576px, (min-width: 768px) 342px, (min-width: 375px) 335px, 100vw"
                src="../img/promo/1-mob-335x260@1x.webp" 
                alt="Watch close-up">
            </li>
        </ul>
    </div>
</section>