<section class="sale" id="sale">
  <div class="container">
    <h2 class="min-title sale-title"
    data-aos="fade-right"
    data-aos-duration="600"
    data-aos-delay="100"
    >Sale</h2>
    <div class="sale-resize">
      <div class="sale-product">
        <ul
          class="sale-product-list"
          
        >
          <li class="sale-product-item" data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000">
            <picture>
              <source
                type="image/webp"
                media="(min-width: 768px)"
                srcset="
                  ./img/sale/tablet-desk/1-tab@1x.webp 1x,
                  ./img/sale/tablet-desk/1-tab@2x.webp 2x
                "
              />
              <source
                type="image/png"
                media="(min-width: 768px)"
                srcset="
                  ./img/sale/tablet-desk/1-tab@1x.png 1x,
                  ./img/sale/tablet-desk/1-tab@2x.png 2x
                "
              />
              <source
                type="image/webp"
                media="(min-width: 320px)"
                srcset="
                  ./img/sale/mobile/1@1x.webp 1x,
                  ./img/sale/mobile/1@2x.webp 2x
                "
              />
              <source
                type="image/png"
                media="(min-width: 320px)"
                srcset="
                  ./img/sale/mobile/1@1x.png 1x,
                  ./img/sale/mobile/1@2x.png 2x
                "
              />
              <img
                class="sale-product-img"
                src="./img/sale/mobile/1@1x.png"
                alt="metal watch front view"
              />
            </picture>
          </li>
          <li class="sale-product-item" data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000" data-aos-delay="250">
            <picture>
              <source
                type="image/webp"
                media="(min-width: 768px)"
                srcset="
                  ./img/sale/tablet-desk/2-tab-desk-146x146@1x.webp 1x,
                  ./img/sale/tablet-desk/2-tab-desk-146x146@2x.webp 2x
                "
              />
              <source
                type="image/png"
                media="(min-width: 768px)"
                srcset="
                  ./img/sale/tablet-desk/2-tab-desk-146x146@1x.png 1x,
                  ./img/sale/tablet-desk/2-tab-desk-146x146@2x.png 2x
                "
              />
              <source
                type="image/webp"
                media="(min-width: 320px)"
                srcset="
                  ./img/sale/mobile/2@1x.webp 1x,
                  ./img/sale/mobile/2@2x.webp 2x
                "
              />
              <source
                type="image/png"
                media="(min-width: 320px)"
                srcset="
                  ./img/sale/mobile/2@1x.png 1x,
                  ./img/sale/mobile/2@2x.png 2x
                "
              />
              <img
                class="sale-product-img"
                src="./img/sale/mobile/2@1x.png"
                alt="metal watch side view"
              />
            </picture>
          </li>
          <li class="sale-product-item" data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000" data-aos-delay="500">
            <picture>
              <source
                type="image/webp"
                media="(min-width: 768px)"
                srcset="
                  ./img/sale/tablet-desk/3-tab-desk-146x146@1x.webp 1x,
                  ./img/sale/tablet-desk/3-tab-desk-146x146@2x.webp 2x
                "
              />
              <source
                type="image/png"
                media="(min-width: 768px)"
                srcset="
                  ./img/sale/tablet-desk/3-tab-desk-146x146@1x.png 1x,
                  ./img/sale/tablet-desk/3-tab-desk-146x146@2x.png 2x
                "
              />
              <source
                type="image/webp"
                media="(min-width: 320px)"
                srcset="
                  ./img/sale/mobile/3@1x.webp 1x,
                  ./img/sale/mobile/3@2x.webp 2x
                "
              />
              <source
                type="image/png"
                media="(min-width: 320px)"
                srcset="
                  ./img/sale/mobile/3@1x.png 1x,
                  ./img/sale/mobile/3@2x.png 2x
                "
              />
              <img
                class="sale-product-img"
                src="./img/sale/mobile/3@1x.png"
                alt="metal watch back view"
              />
            </picture>
          </li>
          <li class="sale-product-item" data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000" data-aos-delay="750">
            <picture>
              <source
                type="image/webp"
                media="(min-width: 768px)"
                srcset="
                  ./img/sale/tablet-desk/4-tab-desk-146x146@1x.webp 1x,
                  ./img/sale/tablet-desk/4-tab-desk-146x146@2x.webp 2x
                "
              />
              <source
                type="image/png"
                media="(min-width: 768px)"
                srcset="
                  ./img/sale/tablet-desk/4-tab-desk-146x146@1x.png 1x,
                  ./img/sale/tablet-desk/4-tab-desk-146x146@2x.png 2x
                "
              />
              <source
                type="image/webp"
                media="(min-width: 320px)"
                srcset="
                  ./img/sale/mobile/4@1x.webp 1x,
                  ./img/sale/mobile/4@2x.webp 2x
                "
              />
              <source
                type="image/png"
                media="(min-width: 320px)"
                srcset="
                  ./img/sale/mobile/4@1x.png 1x,
                  ./img/sale/mobile/4@2x.png 2x
                "
              />
              <img
                class="sale-product-img"
                src="./img/sale/mobile/4@1x.png"
                alt="metal watch close-up view"
              />
            </picture>
          </li>
        </ul>
        <div
          class="sale-picture-wrap"
          data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="3000"
        >
          <picture>
            <source
              type="image/webp"
              media="(min-width: 768px)"
              srcset="
                ./img/sale/tablet-desk/big-tab-desk-406x614@1x.webp 1x,
                ./img/sale/tablet-desk/big-tab-desk-406x614@2x.webp 2x
              "
            />
            <source
              type="image/png"
              media="(min-width: 768px)"
              srcset="
                ./img/sale/tablet-desk/big-tab-desk-406x614@1x.png 1x,
                ./img/sale/tablet-desk/big-tab-desk-406x614@2x.png 2x
              "
            />
            <source
              type="image/webp"
              media="(min-width: 320px)"
              srcset="
                ./img/sale/mobile/big@1x.webp 1x,
                ./img/sale/mobile/big@2x.webp 2x
              "
            />
            <source
              type="image/png"
              media="(min-width: 320px)"
              srcset="
                ./img/sale/mobile/big@1x.png 1x,
                ./img/sale/mobile/big@2x.png 2x
              "
            />
            <img
              class="sale-img"
              src="./img/sale/mobile/big@1x.png"
              alt="metal watch"
            />
          </picture>
        </div>
      </div>
      <div class="sale-content">
        <div class="sale-first-content">
          <h3 class="sale-card-title">Greenlane Watch By Police For MenHT</h3>
          <p class="sale-subtext">Product tag: PEWJK2227003</p>
          <span class="sale-price">&#8364;700</span>
          <span class="sale-price-through">&#8364;1000</span>
        </div>
        <div class="sale-second-content">
          <h4 class="description-title">Description</h4>
          <p class="sale-text">
            Richly detailed with an understated design - the Police Men&#10076;s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <div class="sale-third-content">
          <h4 class="description-title">DETAILS & FEATURESTION</h4>
          <ul class="sale-list-details">
            <li class="sale-item-details">Gender: man</li>
            <li class="sale-item-details">Size: 46x54.5mm</li>
            <li class="sale-item-details">Case Colour: Steel</li>
            <li class="sale-item-details">Band Material: Metal</li>
            <li class="sale-item-details">Case Material: Metal</li>
            <li class="sale-item-details">Features: Multifunction</li>
            <li class="sale-item-details">Water Resistant: 5 (ATM)</li>
            <li class="sale-item-details">Band Colour: Steel</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
