<section class="sale">
  <div class="container">
    <h2 class="min-title">Sale</h2>
    <div class="sale-resize">
      <ul class="sale-list-resize">
        <li class="sale-item-resize">
          <img
            class="sale-img-resize"
            srcset=""
            src=""
            alt="metal watch front view"
          />
        </li>
        <li class="sale-item-resize">
          <img
            class="sale-img-resize"
            srcset=""
            src=""
            alt="metal watch side view"
          />
        </li>
        <li class="sale-item-resize">
          <img
            class="sale-img-resize"
            srcset=""
            src=""
            alt="metal watch back view"
          />
        </li>
        <li class="sale-item-resize">
          <img
            class="sale-img-resize"
            srcset=""
            src=""
            alt="metal watch close-up view"
          />
        </li>
      </ul>
      <img class="sale-img" srcset="" src="" alt="metal watch" />
    </div>
    <h3 class="card-title">Greenlane Watch By Police For MenHT</h3>
    <p class="sale-subtext">Product tag: PEWJK2227003</p>
    <span class="sale-price">&#8364;700</span>
    <span class="sale-price-through">&#8364;1000</span>
    <h4 class="description-title">Description</h4>
    <p class="sale-text">
      Richly detailed with an understated design - the Police Men&#10076;s
      Greenlane watch features a versatile multifunction design that fits
      effortlessly into work and play. The steel case is adorned with a
      semi-transparent black dial. The timepiece exhibits a contrast through a
      black IP bracelet with matching crown and pushers.
    </p>
    <h4 class="description-title">DETAILS & FEATURESTION</h4>
    <ul class="sale-list-details">
      <li class="sale-item-details">Gender: man</li>
      <li class="sale-item-details">Size: 46x54.5mm</li>
      <li class="sale-item-details">Case Colour: Steel</li>
      <li class="sale-item-details">Band Material: Metal</li>
      <li class="sale-item-details">Case Material: Metal</li>
      <li class="sale-item-details">Features: Multifunction</li>
      <li class="sale-item-details">Water Resistant: 5 (ATM)</li>
      <li class="sale-item-details">Band Colour: Steel</li>
    </ul>
  </div>
</section>
