.about-wrapper{
    display: flex;
    flex-wrap: wrap;
}

    .about-first{
        margin-bottom: 20px;
    }

    .about-second{
        margin-bottom: 40px;
    }
    
    .about-title{ 
    margin-right: auto;
    letter-spacing: -0.02em;
    color: var(--green-color)
}
    
    .text{
     font-weight: 300;
     color: #141414;
}
    
    @media screen and (min-width: 768px){
        .about-wrapper{
            flex-wrap: nowrap;
        }
    }

    @media screen and (min-width: 768px){
        .about-first{
            max-width: 220px;
            margin-bottom: 40px;
            margin-right: 20px;
         
        }
    }
    
    @media screen and (min-width: 768px){
        .about-second{
            max-width: 250px;
           
           
        }
    }

    @media screen and (min-width: 768px){
        .about-img{
            width: 705px;
        }
    }
    @media screen and (min-width: 768px){
        .about-wrapper{
            justify-content: flex-end;
            flex-wrap: wrap;
        }
    }


    @media screen and (min-width: 1280px){
        .about-first{
            max-width: 439px;
            margin-right: 40px;
        }
    }
    
    @media screen and (min-width: 1280px){
        .about-second{
            max-width: 380px;
            margin-bottom: 40px;
            margin-right: 33px;
        }
    }

 @media screen and (min-width: 1280px){
        .about-img{
            width: 892px;
        }
    }

  



