:root {
  scroll-behavior: smooth;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;  */
  --mobile-size: 375px;
  --tablet-size: 768px;
  --desk-size: 1280px;

  --black-color: #141414;
  --white-color: #ffffff;
  --green-color: #1e2827;
  --transition: 250ms linear;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
}

body.no-scroll{
  overflow: hidden;
}

.container {
  padding: 0 20px;
  margin: 0 auto;

  max-width: var(--mobile-size);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: var(--tablet-size);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 52px;
    max-width: var(--desk-size);
  }
}

.section {
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 64px 0;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding: 80px 0;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

.min-title {
  max-width: auto;
  font-weight: 600;
  font-size: 32px;
  line-height: calc(40 / 32);
  /* transform: translate var(--transition); */
  /* animation: slide-right 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; */
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .min-title {
    font-size: 40px;
    line-height: calc(44 / 40);
    color: var(--green-color);
  }
}

.logo-icon {
  transition: transform 400ms linear;
}

.logo-icon:hover,
.logo-icon:focus {
  transform: scale(1.2);
}

.nav-link {
  position: relative;
  transition: opacity var(--transition);
}

.nav-link:hover,
.nav-link:focus {
  opacity: 0.5;
}

.nav-link::after {
  content: ' ';
  display: inline-block;
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--white-color);
  border-radius: 1px;
  transition: transform var(--transition) 100ms;
  transform: scaleX(0);
}

.nav-link:hover.nav-link::after {
  transform: scaleX(1);
}
.btn {
  display: block;
  border-radius: 8px;

  font-size: 12px;
  line-height: calc(14 / 12);

  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: var(--green-color);
  transition: transform var(--transition);
}
.btn:hover,
.btn:focus {
  transform: scale(1.05) translateY(-5%);
  transition: transform var(--transition);
}
.close-btn-wrap{
  transition: border var(--transition), transorm var(--transition);
  border: 1px solid transparent;
  border-radius: 50%;
}
.close-btn-wrap:hover,
.close-btn-wrap:focus {
  border-color: currentColor;
  stroke: var(--green-color);
}

.close-burger-svg {
  stroke: currentColor;
}
