/**
  |============================
  | BURGER-MENU
  |============================
*/
.burger-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 29px 20px;
  background-color: var(--green-color);
  z-index: 999;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;

  transition: transform var(--transition),
  opacity var(--transition),
  visibility var(--transition);
}

.burger-section.is-open {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  
}

@media only screen and (min-width: 768px) {
  .burger-section {
    display: none;
  }
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 200px;
}

@media only screen and (min-width: 768px) {
  .header-logo-link {
    margin-right: 80px;
  }
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
}

.burger-nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  transition: var(--transition);
}

.burger-nav-link:hover,
.burger-nav-link:focus {
  opacity: 0.5;
}

.burger-nav-link {
  color: var(--white-color);
}

.burger-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}



/**
  |============================
  | ///BURGER-MENU
  |============================
*/
