/**
  |============================
  | HEADER STYLESS
  |============================
*/
.header {
  position: fixed;
  top: -1px;
  left: 0;
  z-index: 120;
  width: 100vw;
}
.header.is-hidden{
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo-img{
  margin-right: 4px;
  width: 14px;
  height: 14px;
}
@media only screen and (max-width: 767px) {
  .header-container {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}
@media only screen and (min-width: 768px) {
  .header-nav-link {
    color: var(--white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
  }
  .header-logo-img {
    width: 19px;
    height: 19px;
  }
}

.header-nav-link {
  padding-top: 18px;
  padding-bottom: 18px;
  color: var(--white-color);
  transition: opacity var(--transition);
}

@media only screen and (min-width: 768px) {
  .header-contact-link,
  .header-nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: calc(12 / 9);
  }
  .header-nav-link:hover,
  .header-nav-link:focus {
    opacity: 0.5;
  }
}


@media only screen and (min-width: 768px) {
  .header-nav {
    display: flex;
  }
}

.header-nav-list {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .header-nav-list {
    display: none;
  }
}

.header-logo-text {
  color: var(--white-color);
}

.header-logo-link {
  display: flex;
}

.header-link {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .header-link {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header-contact-link {
    color: var(--white-color);
    padding: 17px 35px 17px 35px;
    background-color: var(--green-color);
    border-radius: 8px;
    border: 1px solid transparent;
    transition: border var(--transition);
  }
  .header-contact-link:hover,
  .header-contact-link:focus {
    border: 1px solid var(--white-color);
    /* padding: 17px 35px; */
  }
  .header-logo-link{
    align-items: center;
  }
}

.menu-toggle-icon {
  fill: var(--white-color);
}

@media only screen and (min-width: 768px) {
  .menu-toggle-icon {
    display: none;
  }
}


.header-section {
  background-color: rgba(17, 19, 25, 0.8);
}

@media only screen and (min-width: 768px) {
  .header-section .header-link {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 767px) {
  .header.no-transparency .header-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .header.no-transparency .header-link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/**
  |============================
  | ///HEADER STYLESS
  |============================
*/
