/**
  |============================
  | HEADER STYLESS
  |============================
*/
@media only screen and (max-width: 767px) {
  .header-container {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .header-logo-img {
    width: 14px;
  }
}
@media only screen and (min-width: 768px) {
  .header-nav-link {
    color: var(--white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: 0.02em;
    line-height: 1.5;
  }
  .header-logo-img {
    width: 19px;
  }
}

@media only screen and (min-width: 768px) {
  .header-contact-link,
  .header-nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: calc(12 / 9);
    letter-spacing: 0;
  }
}

@media only screen and (min-width: 768px) {
  .header-nav-link:hover,
  .header-nav-link:focus {
    color: #747bff;
  }
}

.header-section {
  background-color: var(--black-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header-nav {
    display: flex;
  }
}

.header-nav-list {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .header-nav-list {
    display: none;
  }
}

.header-logo-text {
  color: var(--white-color);
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-link {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .header-link {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header-contact-link {
    color: var(--white-color);
    padding: 18px 36px 18px 36px;
    background-color: var(--green-color);
    border-radius: 8px;
    border: none;
  }
}

.menu-toggle-icon {
  fill: var(--white-color);
}

@media only screen and (min-width: 768px) {
  .menu-toggle-icon {
    display: none;
  }
}

/**
  |============================
  | ///HEADER STYLESS
  |============================
*/
