.hero {
  background-color: var(--black-color);
}

.hero-title {
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 38px;
  line-height: calc(40 / 38);
  letter-spacing: -0.04em;
  color: var(--white-color);
}

.swiper-wrapper {
}

.swiper-slide {
}

.swiper-buttons {
  display: flex;
  align-items: end;
  margin-bottom: 40px;
}

.button-prev {
  margin-right: 12px;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.button-prev-icon {
  color: white;
}

.button-next {
  width: 32px;
  height: 32px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.button-next-icon {
  stroke: var(--white-color);
  /* fill: white; */
}

.swiper-numbers {
  margin-left: auto;
  color: var(--white-color);
}

.swiper-number {
}

.swiper-number::after {
  display: inline-block;
  content: '';
  width: 32px;
  height: 1px;
  margin: 5px 6px;
  background-color: var(--white-color);
}

.hero-descr {
  margin-left: auto;
  margin-bottom: 40px;
  max-width: 248px;
  font-weight: 300;
  color: var(--white-color);
}
