.hero {
  background-color: var(--black-color);
  padding-top: 122px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 148px;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    align-items: end;
    column-gap: 64px;
  }
}

.hero-title {
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 38px;
  line-height: calc(40 / 38);
  letter-spacing: -0.04em;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 60px;
    line-height: calc(62 / 60);
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    width: 750px;
    margin-bottom: 43px;
  }
}

.swiper-lay {
  margin-bottom: 40px;
  max-width: 266px;
}

@media screen and (min-width: 768px) {
  .swiper-lay {
    max-width: 436px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-lay {
    margin: 0;
  }
}

.swiper-wrapper {
  margin-bottom: 20px;
}

.swiper-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 266px;
}

@media screen and (min-width: 768px) {
  .swiper-buttons {
    max-width: 436px;
  }
}

.swiper-btn-list {
  display: flex;
  gap: 12px;
}

.button-prev,
.button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  transition: border-color var(--transition);
}

@media screen and (min-width: 768px) {
  .button-prev,
  .button-next {
    width: 40px;
    height: 40px;
  }
}

.button-prev-icon,
.button-next-icon {
  width: 18px;
  height: 18px;
  fill: rgba(255, 255, 255, 0.5);
  transition: fill var(--transition);
}

@media screen and (min-width: 768px) {
  .button-prev-icon,
  .button-next-icon {
    width: 24px;
    height: 24px;
  }
}

.button-prev:hover,
.button-prev:focus,
.button-next:hover,
.button-next:focus {
  border-color: var(--white-color);
}

.button-prev:hover > .button-prev-icon,
.button-prev:focus > .button-prev-icon,
.button-next:hover > .button-next-icon,
.button-next:focus > .button-next-icon {
  fill: var(--white-color);
}

.swiper-numbers {
  color: var(--white-color);
  bottom: 0;
  width: 76px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .swiper-numbers {
    width: 84px;
  }
}

.swiper-pagination-current::after {
  display: inline-block;
  content: '';
  width: 32px;
  height: 1px;
  margin: 5px 6px;
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .swiper-pagination-current::after {
    width: 40px;
  }
}

.hero-descr {
  margin-left: auto;
  margin-bottom: 40px;
  width: 248px;
  font-weight: 300;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .hero-descr {
    position: absolute;
    top: 320px;
    right: 32px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero-descr {
    top: 0;
    right: 52px;
    width: 282px;
  }
}
/* ----------  Animation h1 ---------- */
@media screen and (min-width: 768px) {
  .text-focus-in {
    -webkit-animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
