.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    overflow: auto;
    z-index: 100;

    transition: opacity var(--transition), visibility var(--transition);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);
}
.modal {
    width: 335px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%) scale(1);
    background-color: #fff;
    padding: 40px 20px;
    line-height: calc(14 / 12);

    transition: transform 450ms cubic-bezier(0, 0.79, 0.67, 1.36);
}

@media screen and (min-width:768px) {
    .modal {
        display: flex;
        width: 744px;

        top: 50%;
        transform: translate(-50%, -50%);

        padding: 40px;
    }
}

@media screen and (min-width:1280px) {
    .modal {
        display: flex;
        width: 904px;
    }
}

/* BUTTON CLOSE */
.modal-button-close {
    position: absolute;
    top: 12px;
    right: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:768px) {
.modal-button-close {
        right: 20px;
        top: 20px;
    }
}

.modal-svg {
    stroke: var(--black-color);
}

.modal-wrappers-img {
width: 276px;
margin: 0 auto;
padding-bottom: 40px;
}

@media screen and (min-width:768px) {
    .modal-wrappers-img{
        max-width:368px;
        margin-right:20px ;
    }
}

img{
    max-width: 100%;
    display: block;
}

.modal-text {
    color: #141414;
    margin-bottom: 4px;
}

.modal-price {
    font-size: 12px;
    color: rgba(20, 20, 20, 0.5);
}


 .modal-form-wrapper{
    width: 100%;
    min-height: 576px;
}

.modal-form-label {
    display: flex;

    font-size: 12px;
    color: #141414;
    margin-bottom: 12px;
}

.modal-form-input {
    margin-bottom: 18px;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid rgba(20, 20, 20, 0.5);
    border-radius: 8px;
    outline: none;
}

.modal-form-input:valid {
    border-color: rgba(20, 20, 20, 0.5);
}
.modal-form-input:invalid{
    border-color: red;
}

.modal-form-textarea {
    width: 100%;
    max-height: 170px;
    padding: 12px 16px  140px;
    border: 1px solid rgba(20, 20, 20, 0.5);
    border-radius: 8px;
    resize:none;
    margin-bottom: 20px;
    outline: none;
}

.modal-button-submit {
    display: flex;
    justify-content: center;
    text-align: center;

    align-items: center;
    font-size: 12px;

    width: 100%;
    padding: 18px 116px;
    margin-bottom: 12px;
    border-radius: 8px;

    border-color: var(--green-color);
    color: var(--white-color);
    background-color: var(--green-color);
}

.modal-text-link {
    font-weight: 400;
    font-size: 12px;
    

    color: rgba(20, 20, 20, 0.4);
}

.modal-link {
    text-decoration:underline;
    cursor: pointer;
    margin: 0;
}

.modal-link {
    text-decoration: underline;
    margin: 0;

    transition: color var(--transition);
}

.modal-link:hover,
.modal-link:focus {
    color: #141414;
}

@media screen and (min-width:1280px) {
    .modal-link {
        margin-right: 19px;

    }
}

.modal-text {
    margin-top: 14px;
    width: 276px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width:1280px) {
    .modal-text-link {

        max-width: 383px;
        display: inline-block;
    }
}