.promo-under-title {
    font-weight: 300;
    font-size: 12px;
    line-height: calc(14 / 12);
    color: rgba(20, 20, 20, 0.4);
    
    letter-spacing: 0.06em;
    margin-bottom: 8px;
}
.promo-title{
    color: var(--black-color);
}
@media screen and (min-width: 768px) {
    .promo-title {
        max-width: 448px;
    }
}

.promo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.promo-item {
    width: 100%;
}
@media screen and (min-width: 768px) {
    .promo-item {
        width: calc((100% - 20px) / 2);
    }
}
